<div class="card">
    <h3 class="text-center">LOGIN</h3><br>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter username">
        <hr>
        <input type="password" name="password" placeholder="Enter password">
        <hr>
        <input type="submit" value="Login">
    </form>
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <p>Don't have an account?<a href="{% url 'registrationPage' %}">Sign Up</a></p>
</div>